<div class="container">
    <link rel="stylesheet" href="~/css/Estilo.css" type="text/css">
    <header>
        <div>
            <img src="~/images/foto1.jpg" width="100px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/home/Index">Inicio</a></li>
                <li><a href="/home/Login">Login</a></li>
                <li><a href="#">Premium</a></li>

    </header>
    <form id="contact" action="" method="post">
        <h1><center>CB2R</center></h1>
        <h3><center>Usuario Existente</center></h3>
        


        <fieldset>
            <input placeholder="Correo Electronico " type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input placeholder="Clave " type="password" tabindex="2" required>
        </fieldset>

        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
            Submit
        </button>
        <button name="google" type="#" id="contact-submit" data-submit="...Sending">
            Google
        </button>
        <button name="facebook" type="#" id="contact-submit" data-submit="...Sending">
            Facebook
        </button>
        </fieldset>
        <h5>
            <center>CB2R Technologies</center>
        </h5>
    </form>
</div>