<html>
<head>
    <title>CB2R</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css">
</head>

<body>
    <header>
        <div>
            <img src="~/images/foto1.jpg" width="100px" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Premium</a></li>
                <li><a href="/home/Contact">Contacto</a></li>
    </header>
    <header>

    <nav>
        <ul>
            <li><a href="/home/Login_Nuevo">Usuario Nuevo</a></li>
            <li><a href="/home/Login_Existente">Usuario Existente</a></li>

            </header>




            <footer>
                <p>CB2R Technologies 2018</p>
            </footer>
</body>
</html>